.str_wrap {
   	overflow: hidden;
    width: 80%;
    font-size: 18px;
    line-height: 18px;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space: nowrap;
}
.str_wrap li{
	margin-bottom: 10px;
}
.index_news_ico{
    background: url(../images/index_30.png) no-repeat 24px center;
    padding-left: 0; 
    color: #eb5c38;
    width: 16%;
    text-indent: 80px;
}
.index_two_rt_main{
	width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 420px;
    border: 5px solid #EEE;
    border-radius: 3px;
}
.right_title{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 4px;
}
.right_title li{
	width: 25%;
	float: left;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #EEE;
	font-size: 16px;
	color: #000;
    font-family: "微软雅黑","Microsoft YaHei";
	
}
.right_content{
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 4px;
	height: 360px;
	overflow-y: auto;
}
.right_content li{
	width: 100%;
	float: left;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-bottom:1px solid #d5d5d5;
	font-size: 16px;
	color: #000;
    font-family: "微软雅黑","Microsoft YaHei";
}
.right_content li div{
	width: 25%;
	float: left;
}
.index_two_rt{
	 width: 38%;
}
